bin/*
.agents/*
.gitignore
publish
nupkg
Todo.txt
src/obj/*
src/aursh-update/obj/*
src/aursh-update/bin/*
concepts.txt
.kiro
src/Contexts/obj/*
src/Contexts/bin/*
*.aur
CSharpTest
MarkdigTest
tests/assets/*
.antigravitycli